body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

#playerInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#framesList {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}
